<!DOCTYPE html>
<html>
<head>
    <% include common/head.ejs %>
</head>
<body class="container">
<header>
    <% include common/header.ejs %>
</header>
<main>
   
</main>

<footer>
    <% include common/footer.ejs %>
</footer>
</body>
</html>
