<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ifta">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>CCRF Bangladesh</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style.css" />
</head>

<body class="text-center">

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #7e57c2;">
      <a class="navbar-brand" href="#">CCRF Bangladesh</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Care
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Counselling</a>
              <a class="dropdown-item" href="#">Patient Support group</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Resource
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Information About Cancer</a>
              <a class="dropdown-item" href="#">Information About Treatment</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Doctors and Caregivers</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Get Involved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donate</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <div class="bgimg-1">
    <!-- <div class="caption">
      <span class="border">SCROLL DOWN</span>
    </div> -->
    <div class="infox">
      <h1>Cancer care and research foundation</h1>
      <p>CCRF is a flagship organisation that coordinates</br>
        the work for cancer care and research in Bangladesh.</br>
        In the process, CCRF raises and distributes funds
        </br>while supporting cancer patients and researchers.</p>
    </div>
  </div>

  <div style="background-color:#FFFFFF;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Mission & Objective</h3>
    <p>Our mission is to help cancer patients with necessary care and researchers with vital support to fight cancer in
      Bangladesh in coordination with international organisations.</p>
    <p>Our objectives are:</p>
    <ul>
      <li>Support cancer patients with information and counseling</li>
      <li>Raise and distribute funds for research</li>
      <li>Facilitate collaboration among researchers and clinicians</li>
    </ul>
  </div>

  <div class="bgimg-2">
    <div class="infox">
      <h1>Be the reason someone smiles</h1>
      <p>"Service to others is the rent you
        </br>pay for yourroom here on earth."</p>
      <p>―Mohammed Ali</p>
    </div>
  </div>

  <div style="background-color:#FFFFFF;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Give Back To Society</h3>
    <p>With great power, comes great responsibility.</p>
    <p>If you're not reaching back to help anyone then you're not building a legacy.</p>
  </div>

  <div class="bgimg-3">
    <div class="infox" style="top: 30%">
      <h1>Donate</h1>
      <p>Making a donation is the ultimate sign of solidarity.</br>Actions speak louder than words.</p>
      <p>-Ibrahim Hooper</p>
      <div class="caption" style="top:130%;">
          <span class="border">Donate now</span>
        </div>
    </div>
    
  </div>

  <div style="background-color:#FFFFFF;text-align:center;padding:20px 40px;text-align: justify;">
    <p style="text-align:center;">©Copyright - CCRF Bangladesh 2019</p>
  </div>

  <!-- <div class="bgimg-3">
    <div class="caption">
      <span class="border">Thank you!</span>
    </div>
  </div> -->


</body>

</html>